:root {
  --main-color: #212121;
  --secondary-color: #2196F3;
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}
{body
  --font-family: var(--main-font);
  --font-color: var(--main-color);
}

/* ======= COMPONENTS ======= */



.address {
    font-style: normal;
}

}

/* ======= END COMPONENT ======= */

/* ======= HEADER ======= */

.navigation-list-link,
.address-mail,
.address-phone-number {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    /* color: #2196F3;  */
}

.navigation-logo {
  color:var(--secondary-color);
  font-style: var(--secondary-font);
  font-size: 26px;
  line-height: 1.192;
/* identical to box height */

letter-spacing: 0.03em;

}

.mail,
.phone-number {
  color: #757575;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.address-mail:hover,
.address-mail:focus,
.address-phone-number:hover,
.address-phone-number:focus,
.mail:hover,
.mail:focus,
.phone-number:hover,
.phone-number:focus {
    color: var(--secondary-color);
}
/* ======= END HEADER ======= */

/* ======= HTML MAIN ======= */
 .main-tittle {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.tittle-button {
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  cursor: pointer;
}

.text-item{
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.description{
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #757575;
}
.about-us{
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-function {
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ======= END HTML MAIN ======= */



/* ======= PORTFOLIO MAIN ======= */
.port-images-tittle {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.port-images-item {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}
.menu-btn-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  cursor: pointer;
  text-align: center;
    /* color: #FFFFFF; */
}

/* ======= END PORTFOLIO MAIN ======= */


/* ======= FOOTER ======= */
.address-mail,
.address-phone-number {
  color: rgba(255, 255, 255, 0.6);
}

/* ======= END FOOTER ======= */