:root {
  --main-color: #212121;
  --secondary-color: #2196f3;
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}
body {
  font-family: var(--main-font);
  font-color: var(--main-color);
}

/* ======= COMPONENTS ======= */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.navigation-list-link {
  color: var(--main-color);
}

.address,
.address1 {
  font-style: normal;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ======= END COMPONENT ======= */

/* ======= HEADER ======= */

.header .container {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
}

.navigation-list {
  display: flex;
  align-items: center;
  margin-right: 164px;
  width: 307px;
}

.navigation-logo {
  margin-right: 93px;
  margin-left: 15px;
}

.navigation-list-link {
  display: block;
  padding-right: 46px;
  color: var(--main-color);
}

.phone-number {
  margin-right: 27px;
}

.navigation-list-link,
.address-mail,
.address-phone-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  /* color: #2196F3;  */
}

.navigation-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  /* identical to box height */
  letter-spacing: 0.03em;
  font-family: var(--secondary-font);
  color: var(--main-color);
}

.first-logo {
  color: var(--secondary-color);
  margin-left: 0;
}

.mail,
.phone-number {
  color: #757575;
  fill: #757575;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.address-mail:hover,
.address-mail:focus,
.address-phone-number:hover,
.address-phone-number:focus,
.mail:hover,
.mail:focus,
.phone-number:hover,
.phone-number:focus .logo-icon:hover,
.logo-icon:focus {
  color: var(--secondary-color);
  fill: var(--secondary-color);
}

.logo-icon:hover,
.logo-icon:focus {
  color: rgba(255, 255, 255, 1);
}
/* ======= END HEADER ======= */

/* ======= HTML MAIN ======= */
.main-tittle {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 30px;
}

.tittle-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 41px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  margin-bottom: 106px;
}

.header-tittle {
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1600px;
}

/*Hero*/
.text {
  display: flex;
}

.text {
  justify-content: center;
  justify-content: space-between;
}

.main-icon-list {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 25px 100px;
}

.logo-icon1 {
  width: 70px;
  height: 70px;
}

.main-rect {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.main-icon-list {
  display: flex;
  justify-content: center;
}

.text-item {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.lorem {
  font-weight: 700;
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #757575;
  width: 270px;
  margin-right: 30px;
  text-transform: none;
}

/*Czym się zajmujemy?*/

.about-us {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: -94px;
  margin-bottom: 50px;
}

.about-list {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.about-us-img {
  margin: 0 15px;
}

/*Nasz zespół*/
.our {
  background-color: #f5f4fa;
}

.about-us2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 30px;
  background-color: #ffffff;
}

.team-function {
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  padding-top: 10px;
  background-color: #ffffff;
  padding-bottom: 30px;
}

.logo-team {
  padding-right: 32px;
  padding-left: 32px;
}
.team {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.logo-team {
  display: flex;
  background-color: #ffffff;
  padding-bottom: 30px;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
}

.media-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: rgba(175, 177, 184, 1);
}

.logo-icon {
  width: 20px;
  height: 20px;
}

.media-link:hover,
.media-link:focus {
  background-color: var(--secondary-color);
  fill: #fff;
}

.person {
  margin: 0 15px;
  box-shadow: rgba(0, 0, 0, 0, 2);
  box-shadow: rgba(0, 0, 0, 0, 14);
}

/*Nasi klienci*/
.clients {
  background-color: #fff;
}

.our-clients {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-bottom: 50px;
}

.client-list {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
}

.rect-client {
  width: 170px;
  height: 92px;
  margin: 0 15px;
}

.client-link {
  fill: rgba(175, 177, 184, 1);
  justify-content: center;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  fill: rgba(175, 177, 184, 1);
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
}

.client-link:hover,
.client-link:focus {
  fill: rgba(33, 150, 243, 1);
  border: 1px solid #2196f3;
}

.logo-client {
  width: 106px;
  height: 60.04px;
}

/* ======= END HTML MAIN ======= */

/* ======= PORTFOLIO MAIN ======= */
.menu-btn-list {
  display: flex;
  justify-content: center;
}

.menu-btn-link {
  margin-left: 15px;
  margin-top: 15px;
  /* color: #FFFFFF; */
}

.menu-btn-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  /* color: #FFFFFF; */
  cursor: pointer;
  padding: 6px 22px;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 0;
}

.menu-btn-text:hover,
.menu-btn-text:focus {
  background-color: #2196f3;
  box-shadow: rgba(0, 0, 0, 0, 12);
  box-shadow: rgba(0, 0, 0, 0, 08);
  box-shadow: rgba(0, 0, 0, 0, 1);
  color: #fff;
}

/*OBRAZKI*/
.port-images {
  display: flex;
  flex-wrap: wrap;
  margin-top: 35px;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: -15px;
}

.port-images-item {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 15px;
}

.port-images-item:hover,
.port-images-item:focus {
  box-shadow: rgba(0, 0, 0, 0, 16);
  box-shadow: rgba(0, 0, 0, 0, 06);
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.to-border {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  padding-left: 24px;
  padding-bottom: 20px;
}

.port-images-tittle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 20px;
}

.port-images-text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 4px;
}

.button {
  background-color: #2196f3;
  /* shadow-middle */

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* ======= END PORTFOLIO MAIN ======= */

/* ======= FOOTER ======= */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  display: flex;
}

.address,
.navigation-logo2 {
  color: #ffffff;
}

.address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  flex-direction: column;
  width: 261px;
}

.navigation-logo2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  /* identical to box height */
  letter-spacing: 0.03em;
  font-family: var(--secondary-font);
  display: flex;
  padding-bottom: 20px;
  display: flex;
}

.address-mail,
.address-phone-number {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}

.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  margin-left: 331px;
  margin-top: -100px;  
}

.footer2{
  flex-direction: column;
}

.media-circle {
  padding-right: 10px;
  padding-top: 20px;
}

.join-list {
  display: flex;
}

.media-link2 {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: rgba(255, 255, 255, 1);
  background-color: rgba(117, 117, 117, 1);
}

.logo-icon2 {
  width: 20px;
  height: 20px;
}

.media-link2:hover,
.media-link2:focus {
  background-color: var(--secondary-color);
  fill: #fff;
}
/* ======= END FOOTER ======= */
