$colors:(
    main-background: #FFF,
    dark-background: #2F303A,
    button-background:#F5F4FA,
    text-background: rgba(47, 48, 58, 0.8),

    box-shadow1: rgba(0, 0, 0, 0.2),
    box-shadow2: rgba(0, 0, 0, 0.14),

    media-background: rgba(255, 255, 255, 1),

    media-color: rgba(175, 177, 184, 1),

    client-color: rgba(175, 177, 184, 1),

    // second-dark-transparent-bg:rgba(255, 255, 255, 0.1),
    // second-backdrop-transparent-bg:rgba(0, 0, 0, 0.2),
    // second-box-transiton: rgba(33, 150, 243, 0.9),
    // second-light-bg: #F5F4FA,
    

    font-dark: #212121,
    font-grey:#757575,
    font-light: #FFF,
    // font-light-transparent: #ffffff99,

    active: #2196F3,
    svg-grey: #AFB1B8,

    // under-line:#ECECEC,

    // border-light:#EEEEEE
);

@function getColor($name){
    @return map-get($colors, $name);
}

$fonts:(
    'main-font': ('Roboto', sans-serif),
    'secondary-font': ('Raleway', sans-serif),
);

@function getFont($font){
    @return map-get($fonts, $font);
}