@import '../utils/variables';

.about-us-tittle{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: -94px;
  margin-bottom: 50px;
}

.about-us{
  display: flex;
  margin-left: -15px;
  margin-right: -15px;

  &__item{
    position: relative;
  }

  &__img {
    margin: 0 15px;
  }

  &__text{
    position: absolute;
    width: 370px;
    height: 70px;
    left: 15px;
    bottom: 0;
    background-color: getColor(text-background);
    font-family: getFont(main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor(font-light);
    display: flex;
    align-items: center;
    justify-content: center;
    }
}
