@import '../utils/variables';

.description {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__item {
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__tittle {
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    display: block;
    width: 450px;
    
    text-align: center;
  }

  &__text {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor(font-grey);
    text-transform: none;
    margin-bottom: 30px;
    display: block;
    width: 450px;
  }

  &__icon {
    width: 450px;
    height: 120px;
    background-color: getColor(button-background);
    border-radius: 4px;
    padding: 25px 192px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px;

    &__tittle {
      width: 354px;
    }

    &__text {
      width: 354px;
    }

    &__icon {
      width: 354px;
      padding: 25px 144px;
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .description {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 34px;

    &__icon {
      width: 270px;
      height: 120px;
      padding: 25px 102px;
    }

    &__tittle {
      width: 270px;
      text-align: left;
    }

    &__text {
      width: 270px;
    }
  }
}
