@import '../utils/variables';

.description {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__item {
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__shape {
    height: 120px;
    background-color: getColor(button-background);
    border-radius: 4px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    justify-content: center;
    display: flex;
  }

  &__tittle {
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    display: block;
    text-align: center;
  }

  &__text {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor(font-grey);
    text-transform: none;
    margin-bottom: 30px;
    max-width: 450px;
  }

  &__icon {
    // height: 120px;
    height: 70px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .description {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;

    &__tittle {
      width: 354px;
    }

    &__text {
      width: 354px;
    }

    &__item {
      margin-bottom: 30px;
    }

    &__item:nth-child(2n-1) {
      margin-right: 30px;
    }

    &__shape {
      width: 354px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .description {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 34px;

    &__shape {
      width: 270px;
    }

    &__tittle {
      width: 270px;
      text-align: left;
    }

    &__text {
      width: 270px;
    }
  }
}
