@import '../utils/variables';

@media screen and (min-width: 480px) {
  .navigation-list {
    display: none;
  }

  .mobile-menu {
    position: relative;

    &__img {
      position: absolute;
      left: 180px;

      &:hover,
      &:focus {
        fill: getColor(active);
      }
    }
  }
}

// .header .container {
//   display: flex;
//   align-items: center;
//   padding-top: 24px;
//   padding-bottom: 25px;
// }

// .header {
//   border-bottom: 1px solid #ececec;
//   width:1200px;
// }

// .navigation-list {
//   display: flex;
//   align-items: center;
//   margin-right: 270px;
//   width: 307px;
//   position: relative;
//   margin-left: 93px;
//   &__item {
//     display: block;
//     padding-right: 46px;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.142;
//     letter-spacing: 0.02em;

//     &--underline::after {
//       content: '';
//       position: absolute;
//       width: 53px;
//       height: 4px;
//       top: 44px;
//       background: getColor(active);
//       border-radius: 2px;
//       transform: translateX(-55px);
//     }
//   }

//   &--color {
//     color: getColor(font-dark);
//   }

//   &__link {
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//       color: getColor(active);
//     }
//   }
// }
