@import '../utils/variables';

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: getColor(box-shadow1);
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden {
  transition: all 500ms linear 500ms;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: getColor(main-background);
  border-radius: 4px;

  &:focus{
  box-shadow: 0px 1px 3px getColor(box-shadow-port3), 0px 1px 1px getColor(box-shadow-port4), 0px 2px 1px getColor(box-shadow1);
  }

}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid getColor(border-modal);
  width: 30px;
  height: 30px;
  background-color: getColor(main-background);
  border-radius: 50%;
  cursor: pointer;
}

.close-icon {
  width: 11px;
  height: 11px;
}

.main-tittle-form {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: getColor(font-dark);
  margin-top: 40px;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  flex-direction: column;
}

.modal-label {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: getColor(font-grey);
  margin-bottom: 4px;
  margin-left: 40px;
}

.modal-input {
  width: 448px;
  height: 40px;
  margin-left: 40px;
  margin-bottom: 10px;
  border: 1px solid getColor(border-input);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  
}

.modal-textarea:hover,
.modal-textarea:focus{
  border: 1px solid getColor(active);
  box-sizing: border-box;
}

.modal-input:focus{
  outline:none;
  border-color: getColor(active);
}

.modal-input:focus + .modal-section {
  outline:none;
  fill:getColor(active);
}

.modal-input,
.modal-textarea{
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-section{
  position: relative;
}

.modal-icon2{
  position: absolute;
  transform: translate(55px,-36px);
}

.modal-textarea{
  Width: 448px;
  Height: 120px;
  border: 1px solid getColor(border-input);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: getColor(text-area);
  margin-left:40px;
  padding-left: 16px;
  padding-top: 12px;
}

.modal-form-policy {
  margin-left: 50px;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border-color:getColor(font-dark);
  border: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-policy-text {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: getColor(font-grey);
}

.modal-disclaimer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top:20px;
  margin-left: 54px;
}

.modal-disclaimer-button{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  align-items: center;
}

.modal-policy{
  color:getColor(active);
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.modal-button {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  /* identical to box height, or 187% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: getColor(font-light);
  background-color: getColor(active);
  justify-content: center;
  border:0;
  cursor: pointer;
  
}

.modal-form-policy-text::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  outline: 1px solid getColor(outline);
  transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.modal-form-policy:checked + .modal-form-policy-text::before {
  background-color: getColor(active);
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
  background-size: 11px 8px;
  border-color: getColor(active);
  outline: 1px solid getColor(active);
  background-position: center;
}


.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}