@import '../utils/variables';

.address {
  font-style: normal;
  margin-right: 0px;
  display: flex;
  margin-top: 20px;

  &--column {
    flex-direction: column;
  }

  &--colors {
    color: getColor(font-light);
  }

  &--position {
    margin-left: 15px;
  }
}

.mail,
.phone-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 160px;
  margin-top: 9px;

  &--color-footer {
    color: getColor(font-footer);
  }

  &--color-header {
    color: getColor(font-grey);
    fill: getColor(font-grey);
  }

  &:hover,
  &:focus {
    color: getColor(active);
    fill: getColor(active);
  }
}

.mail {
  &--style-mobile {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: getColor(font-grey);
    display: block;
    margin-top: 32px;
  }
}

.phone-number {
  &--style-mobile {
    font-size: 34px;
    line-height: 1.176;
    letter-spacing: 0.02em;
    color: getColor(active);
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .address {
    &--hidden {
      display: none;
    }
  }

  .mail,
  .phone-number {
    &--position {
      box-sizing: border-box;
      width: 232px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .address {
    display: flex;
    flex-direction: column;
    &--margin-left{
      margin-left:15px;
    }
  }

  .mail,
  .phone-number {
    &--position {
      width: 232px;
      display: flex;
      justify-content: center;
      text-align: center;
    }
  }
}

@media screen and (min-width: 1200px) {
  .address {
    &--row {
      flex-direction: row;
    }
  }

  // .mail,
  // .phone-number {
  //   &--position {

  //   }
  // }
}
