@import '../utils/variables';

.logo{
  margin-right: 93px;
  margin-left: 15px; 
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  font-family: getFont(secondary-font);
  color: getColor(font-dark);

  &__first{
      color: getColor(active);
      margin-left: 0;
  }
}

