@import '../utils/variables';

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  font-family: getFont(secondary-font);
  color: getColor(font-dark);

  &--footer-position {
    display: flex;
  }

  &__first {
    color: getColor(active);
    margin-left: 0;
  }

  &__second {
    color: getColor(font-light);
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    &--footer-position {
      align-items: center;
      justify-content: center;
    }

    &--header-position {
      justify-content: flex-start;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo {
    &--header-position {
      justify-content: flex-start;
      display: flex;
      
      
    }

    &--footer-position {
      margin-left: 105px;
      
    }
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    &--footer-position {
      justify-content: left;
      
    }

    &--header-margin {
      margin-left: -60px;
    }
  }
}
